*~
.vscode
/misc/examples/**/*.o
/misc/examples/c_directional_rumble_test/direction_rumble_test
/misc/examples/c_hidraw/hidraw
docs/_site/**
docs/Gemfile.lock
hid-xpadneo/dkms.conf
hid-xpadneo/src/*.ko*
hid-xpadneo/src/*.mod*
hid-xpadneo/src/*.o*
hid-xpadneo/src/*.symvers*
